.description{
	padding-top:100px;
}

.digits{
	padding: 100px 0 100px 0;
}

.techniques{
	padding-top:100px;
	margin-inline:auto;
	width:80%;
}

.oakley{
	padding-top:160px;
	background-color:#f2f2f2;
}